.header {
    width: 100%;
    height: 70px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px 0px;

    &__img {
        width: 133px;
        height: 29px;
    }

    &__list {
        height: 100%;
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0;
        padding: 0;
    }

    &__list-item {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        text-decoration: none;
        font-family: $font-main;
        color: #282C37;
        cursor: pointer;
    }
    &__list-item:hover {
        color: #282C37;
    }
    &__icons {
        display: flex;
        justify-content: flex-end;
    }

    &__icon {
        width: 24px;
        height: 24px;
        margin-left: 24px;
        transition: .2s;
        cursor: pointer;
    }

    &__icon:hover .icon_color {
        fill: #47CF34;
        transition: .2s;
    }

    &__burger {
        display: none;
        cursor: pointer;
    }
}

.sidebar {
    display: none;
    height: 100%;
    width: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    justify-content: center;
    align-items: center;

    &__contant {
        width: 152px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__logo {
        width: 64px;
        height: 68px;
        margin-bottom: 80px;
    }
    &__link {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        text-decoration: none;
        font-family: $font-main;
        color: #282C37;
        margin-bottom: 45px;
        &_margin {
            margin-bottom: 116px;
        }
    }
    &__btn_close {
       width: 24px;
       height: 24px;
       position: absolute;
       top: 24px;
       left: 28px;
       cursor: pointer;
    }
    &__icons {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    &_show {
        display: flex;
    }
}
@media (max-width: 991px) {
    .header__icons{
        justify-content: space-between;
    }
    .header__icon {
        margin-left: 0;
    }
}

@media (max-width: 992px){
    .header__list {
        display: none;
    }
    .header__icons {
        justify-content: flex-end;
    }
    .header__icon {
        display: none;
    }
    .header__burger {
        display: block;
    }
}