extends ../layout/layout.pug

block variables
    - var pageTitle = "Главная"
    - var btnTitle = "Обсудить проблему"

mixin addButton(style, text, boolIcon, classWidth)
    button(class= 'button button_' + style + ' ' + classWidth) #{text}
        - if(boolIcon)
            img(class="button__icon", src="../../images/icons/arrow-icon.svg", alt="arrow")
mixin addLink(urlLink, text)
    a(href= urlLink).link
        img(src="../../images/icons/logo-cube.svg", alt="logo").link__img
        span.link__text= text
block content
    section.decision.w-100
        .container
            .decision__contant.w-100
                .row.decision__contant-items
                    .col-12.col-sm-10.col-md-7.col-lg-8.col-xl-7
                        .decision__items
                            h1.decision__title Создаем решения
                            p.decision__subtitle Для роста бизнеса
                            p.decision__text.col-8 На основе анализа данных с алгоритмами реализации
                            +addButton('green', btnTitle, false, "decision__btn_width")
                    .col-10.col-sm-8.col-md-5.col-lg-4.col-xl-5.d-flex.align-items-center.decision__img
                        img(src="../../images/images/cube.png").w-100
                img(src="../../images/images/up-arrow.png").decision__img-up
                img(src="../../images/images/middle-arrow.png").decision__img-middle
                img(src="../../images/images/polygons.png").decision__img-polygons
            .decision__links.w-100
                .row.justify-content-evenly
                    .col-12.col-md-6.col-lg-5
                        +addLink("#", "Как найти точки роста и определить цели?")
                    .col-12.col-md-6.col-lg-4
                        +addLink("#", "Как увеличить прибыль, управляя ценами?")
                    .col-12.col-md-6.col-lg-5
                        +addLink("#", "Как избежать проблем на старте нового бизнеса?")
                    .col-12.col-md-6.col-lg-4
                        +addLink("#", "Как не попасть в 'черную дыру' затрат на продвижение?")
    section.services.w-100
        .container
            .services__title.w-100
                h1.services__title-text Услуги
                img(src="../../images/images/polygon2.png", alt="polygon").services__title-img-poly
                img(src="../../images/images/arrow-down.png", alt="arrow").services__title-img-arrow
            
            .row.services__items
                .col-12.col-sm-6.col-lg-4
                    .services__item.services__img-report_height
                        img(src="../../images/icons/report.svg", alt="report")
                        p.services__item-text Разрабатываем маркетинг-план: дорожная карта достижения целей 
                .col-12.col-sm-6.col-lg-8
                    .services__item.services__img-idea_height
                        img(src="../../images/icons/idea.svg", alt="idea")
                        p.services__item-text Повышаем эффективность продвижения: аудит существующей модели
                .col-12.col-sm-6.col-lg-4.item_up
                    .services__item.services__img-search_height
                        img(src="../../images/icons/search.svg", alt="search")
                        p.services__item-text Находим скрытую прибыль: анализ модели ценообразования 
                .col-12.col-sm-6.col-lg-4.item_up
                    .services__item.services__img-startup_height
                        img(src="../../images/icons/startup.svg", alt="startup")
                        p.services__item-text Запускаем новый проект: start-up маркетинг



