extends ../layout/layout.pug
include ../modules/mixins.pug

block variables
    - var pageTitle = "Тренинги"
    - var mainTitle = "Программа бизнес-тренинга"
    - var btnTitle = "подробнее"
    - var btnForm = "получить консультацию"
    - const crumb = ["Главная","/","Тренинги","/","Бизнес-тренинг «Маркетинг – технология роста»"]
    - 
        const treningValues = {
                title: "Бизнес-тренинг «Маркетинг – технология роста»",
                listeners: "Для кого: руководители компаний, маркетологи, продавцы",
                purpose : "Цели бизнес-тренинга:"
        }
    -
        const listValues = [
            "Определение маркетинга как технологии роста",
            "Организация маркетинга как сквозного бизнес-процесса",
            "Получение практических навыков применения технологии маркетинга"
        ]
    -   
        const bisnessFunction = { 
            title: "Функция маркетинга как бизнес-технологии",
            list: 
            [
                "Рынок как динамическая система взаимодействия потребительской и конкурентной сред",
                "Поиск точек роста в непрерывно меняющейся рыночной среде",
                "Прибыль компании как производная от управления маркетингом",
                "Концепция 4Р маркетинга как универсальная модель реализации рыночных возможностей"
            ]
        }
    -   
        const instruction = { 
            title: "Практический инструментарий",
            list: 
            [
                "Количественные и качественные методы исследования рынка. Первичная информация как основа формирования эффективной стратегии. Отсутствие системности в получении и обработке информации – ключевые проблемы. Целеполагание на основе исследований.",
                "Формирование товарной матрицы. Технология категорийного менеджмента. Кросс -конкурентный анализ, определение ролей продукта в товарной матрице. ",
                "Ценообразование на основе рыночной ценности продукта. Выбор ценового позиционирования относительно конкурентов. Управление маржинальностью.",
                "Управление коммуникациями с рынком. «Золотое» правило продвижения. Правила выбора каналов коммуникаций. Модели оценки эффективности затрат. Технологии интернет-маркетинга как эффективное дополнение к традиционным каналам продвижения. Основные ошибки в стратегии продвижения",
                "Аналитика данных. Оцифрованная картина рынка как основа принятия эффективных решений. Типовые формы анализа основных показателей.  "
            ]
        }
    -   
        const organization = { 
            title: "Организация маркетинга в компании",
            list: 
            [
                "Принципиальная схема бизнес-процесса маркетинга. Наиболее узкие места. Критерии оценки эффективности",
                "Маркетинг-план как дорожная карта развития. Структура. Этапы планирования. Контрольные точки выполнения. ",
                "Взаимодействие служб маркетинга и продаж как основа успешной реализации планов. Устранение разрывов в понимании рыночной ситуации. Создание общего информационного поля.",
            ]
        }
    -   
        const caseExample = { 
            title: "Кейсы-примеры:",
            list: 
            [
                "«Догнать и перегнать лидера рынка»",
                "«Увеличить прибыль на падающем рынке»",
                "«Comeback бывшего лидера»",
                "«Повышаем маржинальность, не выходя из кабинета»"
            ]
        }
    -   
        const caseExample2 = { 
            title: "Кейсы-примеры:",
            list: 
            [
                "С заказчиком предварительно согласуется наиболее актуальная проблема. В заключительной части тренинга в ходе совместного обсуждения определяются подходы к ее решению. Результатом является определение целей и плана действий по их достижению.",
            ]
        }
    -  
        const bonus = { 
            title: "Бонусы",
            list: 
            [
                "5 часов бесплатных консультаций в течение месяца после проведения тренинга.",
                "Набор шаблонов для анализа ключевых показателей.",
            ]
        }
    -   
        const benefits = { 
            title: "Преимущества бизнес-тренинга:",
            list: 
            [
                "Составлен на основе опыта решения конкретных задач",
                "Только необходимый минимум теории, не рассматривается плохо применяемый на практике инструментарий",
                "Акцент на реальных примерах с разбором ошибок",
                "Направлен на практическую реализацию, начиная с завтрашнего дня"
            ]
        }
    -   
        const format = { 
            title: "Форматы проведения:",
            list: 
            [
                "Групповой онлайн-формат, продолжительность 3 дня, по 4 часа в день",
                "Индивидуальный онлайн-формат, продолжительность 2 дня, по 4 часа в день",
                "групповой офлайн-формат, продолжительность 2 дня, по 8 часов в день",
            ]
        }

block content
    .container
        +breadcrumbs(crumb)
        +brokenCube
        .row.marketing_margin-top
            .col-12
                +bisnessTreningBig(treningValues)
        .row.marketing_margin
            .col-12.col-lg-7
                +listWithIcon(listValues)
        .row.marketing_btn-margin
            .col-12.marketing__btn
                +addButton('green', btnTitle, true, "marketing__btn_width")
        h1.marketing__title= mainTitle 
        +listWithMarker(bisnessFunction)
        +listWithMarker(instruction)
        +listWithMarker(organization)
        +listWithMarker(caseExample)
        +listSimple(caseExample2)
        +listSimple(bonus)
        +listWithMarker(benefits)
        +listWithMarker(format)
        +modalConsult
       


       
       
